{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>

Доброго времени суток уважаемые пользователи!<br><br>
Не судите строго, сайт был построен в минимализме, по причине недопонимания материала и другого рода причинам.<br>
<br>
Тематика посвящена игровым персонажам.<br>
<br>
На сайте реализованы и заметны глазу:
<ul>
Регистрация пользователей.<br>
Авторизация пользователей по логину или email.<br>
Смена пароля.<br>
Страница профиля пользователя с возможностью редактирования.<br>
Добавление стататей.<br>
Валидация полей формы.<br>
Пагинация.<br>
Перенаправления.<br>
Подключение статических файлов.<br>
Слаги (slug) в URL-адресах.<br>
Отображение публикаций по рубрикам.<br>
Загрузка файлов на сервер.<br>
Сортировка публикаций по убыванию.<br>
</ul>
Публикация происходит под любым зарегистрированным пользователем.<br>
Редактирование публикаций, только под логином "root" , пароль "1234"<br>
При желании можете пройти по ссылке и добавить персонажей, взяв картинки и описание по ссылкам ниже:<br>
<ul>
<a href="https://vgtimes.ru/articles/34857-50-samyh-goryachih-muzhskih-personazhey-iz-igr.html">Мужские</a><br>
<a href="https://genapilot.ru/hottest-female-game-characters, https://dtf.ru/games/1674072-top-10-lyubimyh-zhenskih-personazhej-v-igrah">Женские</a><br>
<br>
</ul>
{% endblock %}
